.leads-content {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.add-btn {
  border-radius: 20px;
}

.create-lead-container {
  max-width: 80%;
  justify-content: center;
}

.lead-details-container {
  max-width: 95%;
  justify-content: center;
}

.additionalClassForContent {
  padding: 0px !important;
}
